<!-- Latest blog posts start -->
<section id="news" class="module">
  <div class="container">

    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <h2 class="module-title font-alt">Latest blog posts</h2>
        <div class="module-subtitle font-serif">
          Keep up to date with whats happeing in our world
        </div>

      </div>

    </div><!-- .row -->

    <div class="row multi-columns-row post-columns">

<!-- needs to happen 3 times dynamically pull most current blog posts -->
      <!-- Post item start -->
      <div class="col-sm-6 col-md-4 col-lg-4">

        <div class="post mb-20">
          <div class="post-thumbnail">
            <a href="blog-single-left.html"><img src="<%= image_path("post-1.jpg") %>" alt=""></a>
          </div>
          <div class="post-header font-alt">
            <h2 class="post-title"><a href="blog-single-left.html">dynamic title</a></h2>
            <div class="post-meta">
              By <a href="#">User name</a> | 23 November | 3 Comments dynamic date
            </div>
          </div>
          <div class="post-entry">
            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
          </div>
          <div class="post-more">
            <a href="blog-single-right.html" class="more-link">Read more</a>
          </div>
        </div>

      </div>
      <!-- Post item end -->



    </div><!-- .row -->

  </div>
</section>
<!-- Latest blog posts end -->
