<section id="team" class="module">
  <div class="container">

    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <h2 class="module-title font-alt">Meet Our Squad</h2>
        <div class="module-subtitle font-serif">
          Some cool people we know that you can stalk via the internet before you meet them in person.
        </div>

      </div>

    </div><!-- .row -->

    <div class="row margin-bottom">

      <!-- Team item star -->
      <div class="col-sm-6 col-md-3 mb-sm-20">


      </div>
      <!-- Team item end -->

      <!-- Team item start -->
      <div class="col-sm-6 col-md-3 mb-sm-20 wow fadeInUp">

        <div class="team-item">
          <div class="team-image">
            <%= image_tag("a-images/kyrstin.jpg") %>
            <div class="team-detail">
              <h5 class="font-alt">Hi all</h5>
              <p class="font-serif">My name is Kyrstin and I'm super pretty and my future husband is hilarious and adorable.</p>
              <div class="team-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="team-descr font-alt">
            <div class="team-name">Kyrstin Thorson</div>
            <div class="team-role">Bride</div>
          </div>
        </div>

      </div>
      <!-- Team item end -->
      <!-- Team item start -->
      <div class="col-sm-6 col-md-3 mb-sm-20 wow fadeInUp">

        <div class="team-item">
          <div class="team-image">
            <%= image_tag("a-images/steve.jpg") %>
            <div class="team-detail">
              <h5 class="font-alt">Boop</h5>
              <p class="font-serif">Thanks for chosing to join us on what is going to be the most epic day in human history</p>
              <div class="team-social">
                <a href="https://www.facebook.com/Steavo"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/rogehaus"><i class="fa fa-twitter"></i></a>
                <a href="https://instagram.com/steavo/"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="team-descr font-alt">
            <div class="team-name">Steve Rogers</div>
            <div class="team-role">Groom</div>
          </div>
        </div>

      </div>
      <!-- Team item end -->
      <!-- Team item star -->
      <div class="col-sm-6 col-md-3 mb-sm-20 ">



      </div>
      <!-- Team item end -->
    </div>

    <div class="row">

      <!-- Team item start -->

      <!-- Team item end -->

    </div><!-- .row -->

  </div>

  <div class="row align-center">
    <div class="col-sm-12">
        <a href="#" class="btn btn-d btn-round contact-btn">See the rest</a>
      </div>
    </div>

</section>
