<section class="module bg-dark-60 pt-0 pb-0" data-background="<%= image_path("section-7.jpg") %>">

  <div class="testimonials-slider pt-140 pb-140">
    <ul class="slides">

<!--  3 seperate dynamic quotes-->

      <!-- Slide 1 start -->
      <li>
        <div class="container">

          <div class="row">

            <div class="col-sm-12">
              <div class="module-icon">
                <%= icon("fa fa-quote-left") %>
              </div>
            </div>

          </div><!-- .row -->

          <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">dynamic post</blockquote>
            </div>

          </div><!-- .row -->

          <div class="row">

            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">User name</div>
                  <div class="testimonial-descr"> bride groom side of the family</div>
                </div>
              </div>
            </div>

          </div><!-- .row -->

        </div><!-- .container -->
      </li>
      <!-- Slide 1 end -->



    </ul>
  </div><!-- .testimonials-slider -->

</section>
