<section id="alt-features" class="module">
  <div class="container">

    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <h2 class="module-title font-alt">Camp Paxson</h2>
        <div class="module-subtitle font-serif">
          The camp is located on the shores of Seeley Lake, one of a chain of five lakes nestled between the Swan Mountain Range and the Mission Mountain Range in Western Montana.
        </div>

      </div>

    </div><!-- .row -->

    <div class="row">

      <div class="col-sm-6 col-md-3 col-lg-3">

        <!-- Alt features item start -->
        <div class="alt-features-item no-margin-top">
          <div class="alt-features-icon">
            <span class="icon-strategy"></span>
          </div>
          <h3 class="alt-features-title font-alt">Branding</h3>
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        </div>
        <!-- Alt features item end -->

        <!-- Alt features item start -->
        <div class="alt-features-item">
          <div class="alt-features-icon">
            <span class="icon-tools-2"></span>
          </div>
          <h3 class="alt-features-title font-alt">Development</h3>
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        </div>
        <!-- Alt features item end -->

        <!-- Alt features item start -->
        <div class="alt-features-item">
          <div class="alt-features-icon">
            <span class="icon-target"></span>
          </div>
          <h3 class="alt-features-title font-alt">Marketing</h3>
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        </div>
        <!-- Alt features item end -->

        <!-- Alt features item start -->
        <div class="alt-features-item">
          <div class="alt-features-icon">
            <span class="icon-tools"></span>
          </div>
          <h3 class="alt-features-title font-alt">Design</h3>
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        </div>
        <!-- Alt features item end -->

      </div><!-- .col -->

      <!-- Alt features image start -->
      <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">

        <div class="alt-services-image align-center">
          <%= image_tag("a-images/cpax.jpg") %>
        </div>

      </div>
      <!-- Alt features image end -->

      <div class="col-sm-6 col-md-3 col-lg-3">

        <!-- Alt features item start -->
        <div class="alt-features-item no-margin-top">
          <div class="alt-features-icon">
            <span class="icon-camera"></span>
          </div>
          <h3 class="alt-features-title font-alt">Photography</h3>
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        </div>
        <!-- Alt features item end -->

        <!-- Alt features item start -->
        <div class="alt-features-item">
          <div class="alt-features-icon">
            <span class="icon-mobile"></span>
          </div>
          <h3 class="alt-features-title font-alt">Mobile</h3>
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        </div>
        <!-- Alt features item end -->

        <!-- Alt features item start -->
        <div class="alt-features-item">
          <div class="alt-features-icon">
            <span class="icon-linegraph"></span>
          </div>
          <h3 class="alt-features-title font-alt">Music</h3>
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        </div>
        <!-- Alt features item end -->

        <!-- Alt features item start -->
        <div class="alt-features-item">
          <div class="alt-features-icon">
            <span class="icon-basket"></span>
          </div>
          <h3 class="alt-features-title font-alt">Shop</h3>
          A wonderful serenity has taken possession of my entire soul like these sweet mornings.
        </div>
        <!-- Alt features item end -->

      </div><!-- .col -->

    </div><!-- .row -->

  </div>
</section>
