.btn.contact-btn {
  color: #000 !important;
  margin-bottom: 20px !important;
  background-color: #fff !important;
  border: solid 1px #000 !important;

}

.btn.contact-btn:hover {
  color: #fff !important;
  background-color: #000 !important;
}

// a.fa.fa-angle-down {
//   color: #000 !important;
// }

.notice {
  background: transparent !important;
}
.notice {
  background: transparent !important;
}

.work-image {
    width: 381px;
    height: 200px;
}

/* resize images */
.work-image img {
    width: 100%;
    height: auto;
}

#works.module {
  padding: 75px 0 !important;
}
