.btn.contact-btn {
  color: #000 !important;
  margin-bottom: 20px !important;
  background-color: #fff !important;
  border: solid 1px #000 !important;

}

.btn.contact-btn:hover {
  color: #fff !important;
  background-color: #000 !important;
}

a.fa.fa-angle-down {
  color: #000 !important;
}
