.btn.contact-btn {
  color: #000 !important;
  margin-bottom: 20px !important;
  background-color: #fff !important;
  border: solid 1px #000 !important;

}

.btn.contact-btn:hover {
  color: #fff !important;
  background-color: #000 !important;
}

// a.fa.fa-angle-down {
//   color: #000 !important;
// }

.notice {
  background: transparent !important;
}
.notice {
  background: transparent !important;
}

.work-image {
    width: 381px;
    height: 200px;
}

/* resize images */
.work-image img {
    width: 100%;
    height: auto;
}

.mover50.work-image img{
  position: relative; top: -50%;
}

.mover35.work-image img{
  position: relative; top: -35%;
}
.mover15.work-image img{
  position: relative; top: -10%;
}


.module {
  padding: 75px 0 !important;
}


.alt-features-item {
    position: relative;
    padding-left: 55px;
    margin: 65px 0 0 0 !important;
  }

.no-margin-top {
  margin-top: 0 !important;
}


a:hover, a:focus {
    color: #23527c;
    text-decoration: none !important;
  }

.margin-top {
  margin-top: 40px !important;
}

.margin-bottom {
  margin-bottom: 40px;
}

.filter {
  margin-bottom: 20px !important;
}

.title-margin {
  margin-bottom: 30px !important;
}

.bg-dark-60:before {
    position: absolute;
    background: rgba(34, 34, 34, 0.7) !important;
}

.module, .module-small {
    background-position: 50% 66% !important;
  }
